{% extends 'lbs/base.html' %}
{% block content %}
<div class="module">
    <div class="module_title">
        Availability
    </div>
    <div class="subdivider">
    </div>
    <div class="module-content">
        <form>
            {{ filter }}
            <input type="submit" value="Generate Spreadsheet" name="submit">
        </form>
    </div>
    <div class="subdivider footer">
    </div>
</div>
{% endblock %}