<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luz Hotel Booking System</title>
    {% load static %}
    {% load last_update_info %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'lbs/css/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'lbs/css/jquery-ui.css' %}"/>
    {% endblock %}
    {% block jsscripts %}
    <script src="{% static 'jquery/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-ui.js' %}"></script>
    <script>
        $(function() {
            $( ".dateinput" ).datepicker();
         });
    </script>
    {% endblock %}
</head>
<body>
<div id="page">
    {% block header %}
    <ul id="header">
        <li id="logo_container">
            <a href="{% url 'main_menu' %}">
                <img id="logo" src="{% static 'lbs/img/logo-shortened.png' %}"/>
            </a>
        </li>
        <li class="menu_item">
            <a id="main" class="menu_item_link" href="{% url 'main_menu' %}">
                Main Page
            </a>
        </li>
        <li class="menu_item">
            <a id="rmas" class="menu_item_link" href="{% url 'room_assignment' %}">
                Room Assignment
            </a>
        </li>
        <li class="menu_item">
            <a id="aval" class="menu_item_link" href="{% url 'availability' %}">
                Availability
            </a>
        </li>
        <li class="menu_item">
            <a id="drgt" class="menu_item_link" href="{% url 'direct_guests' %}">
                Direct Guests
            </a>
        </li>
        <li class="menu_item dropdown righty" id="login_info">
            <a class="menu_item_link">
                [] {{ user }}
            </a>
            <div class="dd_outer">
                <div class="dd_inner">
                    <a href="{% url 'logout' %}">
                        Logout
                    </a>
                </div>
            </div>
        </li>
        <li class="separator righty">
        </li>
        <li class="menu_item dropdown righty" id="updater">
            <div id="upt_note">
                Update Bookings
            </div>
            <div class="dd_outer">
                <div class="dd_inner">
                    {% get_dropbox_info as update_data %}
                    <div id="date_header">
                        Last Update:<br/> {{ update_data.last_update_date }}
                    </div>
                    <table id="update_data_tbl">
                        <tr>
                            <td>New Bookings Found:</td>
                            <td class="dd_value">{{ update_data.new_qty }}</td>
                        </tr>
                        <tr>
                            <td>Bookings Changed:</td>
                            <td class="dd_value">{{ update_data.change_qty }}</td>
                        </tr>
                        <tr>
                            <td>Bookings Cancelled:</td>
                            <td class="dd_value">{{ update_data.cancelled_qty }}</td>
                        </tr>
                    </table>
                    <a class="danger_btn" href="#" onclick="check_update()">
                        <div id="update_btn">
                            Update Bookings Now
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    {% endblock %}
    <div id="content_container">
        {% if message %}
            <div class="error message">
                {{ message }}
    </div>
    {% endif %}
    {% if messages %}
        {% for msg in messages %}
            <div class="{{ msg.tags }} message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
{% block footerscripts %}
<script>
         $("#{{ page_code }}").attr("class", "active_btn menu_item_link");
        function check_update() {
            var pw = prompt("Please type the password for updating")
            var tkn = "{{ csrf_token }}"
            $("#update_btn").ajaxStart(function() {
                console.log("Update call starting...")
                $(this).hide()
            });
            $.ajax({
                url: '{% url 'crs_update' %}',
                type: 'post',
                data: {
                    'csrfmiddlewaretoken': tkn,
                    'password': pw
                },
                error: function(xhr, status, error) {
                    window.location.reload();
                },
                success: function(data) {
                    window.location.reload();
                    var msg = "No booking were updated";
                    if(data['new'] != 0) {
                        msg = "Successfully Updated " + data['new'] + " Bookings.";
                    };
                    $("#update_inst").text(msg);
                }
            });
        };
</script>
{% endblock %}
</body>
</html>