{% extends 'lbs/base.html' %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'lbs/css/booking_details.css' %}"/>
{% endblock %}

{% block content %}
    <div class="subcontainer">
        <div id="booking_module" class="module lefty">
            <div class="module_title">
                Booking: {{ booking_details.name }}
            </div>
            <div class="subdivider">
            </div>
            <div class="module-content">
                <table class="data_table">
                    {% for fd in booking_details.fields %}
                        <tr>
                            <td>
                                {{ fd.name }}:
                            </td>
                            <td>
                                {{ fd.value }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="subdivider footer">
                <form action="{% url 'prnt_book_details' booking_id=booking_id %}">
                    <input type="submit" value="Print Booking Information"/>
                </form>
            </div>
        </div>
        <div id="guest_module" class="module righty">
            <div class="module_title">
                Guest: {{ guest_details.name }}
            </div>
            <div class="subdivider">
                11
            </div>
            <div class="module-content">
                <table class="data_table">
                    {% for fd in guest_details.fields %}
                        <tr>
                            <td>
                                {{ fd.name }}:
                            </td>
                            <td>
                                {{ fd.value }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="subdivider footer">
            </div>
        </div>
    </div>
{% endblock %}