{% extends 'lbs/base.html' %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'lbs/css/room_assignment.css' %}">
{% endblock %}
{% block content %}
<div id="main_module" class="module">
    <div class="module_title">
        Direct Bookings
    </div>
    <div class="subdivider">
        <!--<form>-->
            <!--{{ filter }}-->
            <!--<input type="submit" value="Search" name="submit">-->
        <!--</form>-->
    </div>
    <table class="data_table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Check In
            </th>
            <th>
                Check Out
            </th>
            <th>
                Date Booked
            </th>
            <th>
                Room Type
            </th>
        </tr>
        {% for t in table_data %}
            <tr>
                <td>
                    <a class="guest_name" href="{% url 'booking_details' booking_id=t.id %}"> {{ t.name }} </a>
                </td>
                <td>
                    {{ t.check_in }}
                </td>
                <td>
                    {{ t.check_out }}
                </td>
                <td>
                    {{ t.date_booked }}
                </td>
                <td>
                    <span title="{{ t.room_type.name }}">
                        {{ t.room_type.abbreviation }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="footer">
        <!--<span class="lefty"><<</span>-->
        <form method="get">
            <select name='page' onchange="this.form.submit()">

                {% for p in pager_data %}
                    <option value="{{ p }}"
                    {% if p == current_page %}
                        selected = "selected"
                    {% endif %}>
                            {{ p }}
                    </option>
                {% endfor %}
            </select>
        </form>
        <!--<span class="righty">>></span>-->
    </div>
</div>
{% endblock %}