{% extends 'lbs/base.html' %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'lbs/css/login.css' %}"/>
    {% endblock %}
{% block jsscripts %}
    {{ block.super }}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div id="login_container">
        <div class="module_title">
            <img id="login_logo" src="{% static 'lbs/img/logo.png' %}"/>
        </div>
        <div class="module fadeable">
            <form action="/login/" method="post" id="login-form">
                <div id="subcontainer">
                    {% csrf_token %}
                    {% for f in form.visible_fields %}
                        <div class="form_input">
                            <label>{{f.label}}: </label>{{ f }}
                        </div>
                    {% endfor %}
                 </div>
                <div class="subdivider footer login_divider">
                    <input id="login_btn" type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
{% endblock %}