{% extends 'lbs/base.html' %}

{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'lbs/css/main_menu.css' %}"/>
{% endblock %}
{% block content %}
    {{ block.super }}
        <div class="module left" id="main_mod">
            <div class="module_title">
                Guests Checking In Today
            </div>
            {% if table_data %}
                <table class="data_table">
                {% for t in table_data %}
                    <tr>
                        <td class="image">
                            <div>
                                <img class="guest_image" src="{% static 'lbs/img/blank-guest-image.gif' %}"/>
                            </div>
                            <div class="room">
                                {% if t.room_number %}
                                    <span class="field_label_span">Room#:</span>{{ t.room_number }}
                                {% else %}
                                    <div class="no_room">
                                        <a  href="{% url 'room_assignment' %}">
                                                No Room!<br/>Assign one NOW!<br/>Click here!!
                                        </a>
                                    </div>

                                {% endif %}
                            </div>
                        </td>
                        <td class="guest_data">
                            <div class="div_table">
                                <div class="field">
                                    <div class="field_label_div">
                                        <span class="field_label_span">Name: </span>
                                    </div>
                                    <div class="value">
                                        {{ t.name }}
                                    </div>
                                </div>
                                <div class="field no_space">
                                    <div class="field_label_div">
                                        <span class="field_label_span">Street: </span>
                                    </div>
                                    <div class="value">
                                        {{ t.street }}
                                    </div>
                                </div>
                                <div class="field no_space">
                                    <div class="field_label_div">
                                        <span class="field_label_span">City: </span>
                                    </div>
                                    <div class="value">
                                        {{ t.city }}
                                    </div>
                                </div>
                                <div class="field no_space">
                                    <div class="field_label_div">
                                        <span class="field_label_span">State: </span>
                                    </div>
                                    <div class="value">
                                        {{ t.state }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field_label_div">
                                        <span class="field_label_span">Country: </span>
                                    </div>
                                    <div class="value">
                                        {{ t.country }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field_label_div">
                                        <span class="field_label_span">Phone Number(s): </span>
                                    </div>
                                    <div class="value">
                                        {% for pn in t.phone_number %}
                                            {{ pn }}<br/>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field_label_div">
                                        <span class="field_label_span">Email: </span>
                                    </div>
                                    <div class="value">
                                        {{ t.email }}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="booking_data">
                            <div class="div_table">
                                <div class="field no_space">
                                    <div class="field_label_div">
                                        <span class="field_label_span">Date In:</span>
                                    </div>
                                    <div class="value">
                                        {{ t.date_in }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field_label_div">
                                        <span class="field_label_span">Date Out:</span>
                                    </div>
                                    <div class="value">
                                        {{ t.date_out }}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ t.check_out }}
                        </td>
                        <td>
                            <span title="{{ t.room_type.name }}">
                                {{ t.room_type.abbreviation }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <div class="empty">
                    No guests are checking in today.
                </div>
            {% endif %}
            <div class="footer">
            </div>

        </div>
{% endblock %}