<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Luz Hotel - Printable Page</title>
    </head>
    <body onload="window.print()">
        {% for sec in sections %}
            <p>
                <h1>{{ sec.name }}</h1>
                <ul>
                    {% for ln in sec.lines %}
                        <li>{{ ln }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endfor %}
        <a href="{% url 'booking_details' booking_id=booking_id %}"><< Back</a>
    </body>
</html>