{% extends 'lbs/base.html' %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'lbs/css/room_assignment.css' %}">
{% endblock %}
{% block content %}
<div id="main_module" class="module">
    <div class="module_title">
        Room Assignment
    </div>
    <div class="subdivider">
        <form>
            {{ filter }}
            <input type="submit" value="Search" name="submit">
        </form>
    </div>
    <table class="data_table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Check In
            </th>
            <th>
                Check Out
            </th>
            <th>
                Room Type
            </th>
            <th>
                Set Room
            </th>
        </tr>
        {% for t in table_data %}
            <tr>
                <td>
                    <a class="guest_name" href="{% url 'booking_details' booking_id=t.id %}"> {{ t.name }} </a>
                </td>
                <td>
                    {{ t.check_in }}
                </td>
                <td>
                    {{ t.check_out }}
                </td>
                <td>
                    <span title="{{ t.room_type.name }}">
                        {{ t.room_type.abbreviation }}
                    </span>
                </td>
                <td>
                    <form method="post">
                        <select name='room_num' onchange="this.form.submit()">
                            <option value=""
                            {% if not  t.room_number %}
                                class="default"
                            {% endif %}
                            >Unassigned</option>
                            {% for rm in t.possible_rooms %}
                                <option {{ rm.compatibility }}
                                {% if t.room_number  ==  rm.room_number %}selected="selected"
                                        class="default {% elif rm.compatibility != 0 %}class="{% endif %}{% if rm.compatibility == 1 %}compatible{% elif rm.compatibility == 2 %}not_compatible{% endif %}"
                                >{{ rm.room_number }}</option>{% endfor %}
                            {% csrf_token %}
                        </select>
                        <input type="hidden" name='id' value="{{ t.id }}">
                        <input type="hidden" name='post-type' value="assign">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="footer">
    </div>
</div>
{% endblock %}