
html {
    background-color: #BBB;
    height: 100%;
    overflow-y: scroll;
    overflow-x: initial;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}

.righty {
    float: right;
}

.lefty {
    float: right;
}

label {
    margin-right: 10px;
}

#page {
    min-height: 100%;
    position: relative;
    height: 100%;
}

#logo {
    height: 31px;
    width: 137px;
    margin: 3px;
}

#login_logo {
    height: 32px;
    width: 300px;
}

ul#header{
    min-width: 1050px;
    background-color: #711;
    list-style-type: none;
    color: white;
    margin: 0;
    display: inline-block;
    overflow: visible;
    position: fixed;
    padding: 0;
    width: 100%;
    height: 38px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 5px black;
    z-index: 2;
}

#header li {
    float: left;
}

#header .righty {
    float: right;
}

#header li.menu_item {
    border-left: 1px solid #500;
    border-right: 1px solid #500;
    height: 100%;
}

a.menu_item_link {
    padding: 10px 10px;
    display: block;
    color: white;
    border-radius: 0px;
}

#header .separator {
    width: 50px;
    height: 100%;
    border: 0px;
}

li.menu_item:hover {
    background: #500;
}

li.dropdown {
    transition: all 0.2s;
}

li.dropdown:hover {
    background: #711;
    transition: none;
}

.dd_outer {
    overflow: hidden;
    transition: all 0.2s;
    height: 0px;
    width: 210px;
    position: absolute;
    padding: 0px 5px;
    margin: 0px 0px 0px -8px;
}

div.dd_inner {
    font-size: 14px;
    list-style: none;
    background-color: #711;
    width: 180px;
    overflow: hidden;
    padding: 0px 10px;
    border-radius: 0px 0px 7.5px 7.5px;
    transition: all 0.2s;
    border-left: 3px solid #500;
    border-right: 3px solid #500;
    border-bottom: 3px solid #500;
}

.dd_inner .menu_item:hover {
    background: #24c8da;
}

li:hover > .dd_outer > .dd_inner {
    background: #711;
    display: block;
    padding: 10px;
    box-shadow: 0px 2px 10px #333;
}

#date_header {
    padding: 0px 10px 10px 10px;
}

ul.dd_menu {
    border-top: 1px solid #500;
    border-bottom: 1px solid #500;
    list-style-type: none;
}

ul.dd_menu li{
    margin: auto 0px;
}

.dd_inner table{
    width: 100%;
}

.dd_inner tr{
    text-align: left;
    padding: 5px 0px;
}

.dd_inner tr.dd_value {
    text-align: right;
    width: 50%;
}

div#upt_note {
    margin: 10px 10px;
}

li#updater:hover > .dd_outer {
    height: 250px;
}

#update_data_tbl {
    margin-bottom: 10px;
}

#header li#updater {
    position: relative;
    width: 200px;
    border-left: 3px solid #500;
    border-right: 3px solid #500;
}

#header li#login_info {
    position: relative;
    border-left: 3px solid #500;
}

li#login_info {
    width: 100px;
}

li#login_info:hover > .dd_outer{
    height: 100px;
}

li#logo_container {
    padding: 2px;
    margin-right: 25px;
}

li#user_info {
    padding: 5px;
    color: white;
}

.dd_inner a {
    padding: 0px;
}

div #update_menu_item {
    border: 2px solid black;
}

#update_btn {
    width: 100px;
    margin: 0px auto;
    color: white;
    padding: 5px;
    background: #24c8da;
    border-radius: 10px;
}

#update_btn:hover {
    background-color: red;
}

#login_info .dd_inner {
    width: 80px;
}

a {
    color: #24c8da;
    text-decoration: none;
    padding: 0px 5px;
    border-radius: 7.5px;
}

a:hover {
    color: white;
}

a.active_btn {
    color: white;
    text-decoration: none;
    background: #24c8da;
    transition: color 0.2s;
}

li.menu_item a.active_btn:hover {
    box-shadow: none;
    background-color: #24c8da;
    margin: 0px;
}

#content_container {
    padding: 10px;
    height:100%;
    width: 100%;
    position: absolute;
    top: 40px;
    z-index: 1;
}

div.message {
    padding: 5px;
    margin: 5px 5px 5px 3px;
    text-align: center;
    border-radius: 7.5px;
    color: black;
    width: 100%;
    box-sizing: border-box;
}

div.no_message {
    padding: 5px;
    margin: 5px;
    border-radius: 7.5px;
    width: 100%;
    height: 1em;
}

div.error {
    background: #F99;
    border: 3px solid red;
}

div.info {
    background: #9F9;
    border: 3px solid green;
}

div.warning {
    background: #FF9;
    border: 3px solid yellow;
}

button {
    margin: 10px;
    box-shadow: 0px 2px 10px #333;
    background: #04a8ba;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
}

.module {
    padding: 0px;
    margin: 10px;
    border-radius: 25px 25px 7.5px 7.5px;
    background: white;
    box-shadow: 2px 2px 25px #888;

}

.module_title {
    border-radius: 7.5px 7.5px 0 0 ;
    text-align: center;
    padding-top: 15px;
    color: white;
    background: #711;
    height: 30px;
    font-weight: bold
}

.subdivider {
    padding: 5px;
    background: #500;
    color: white;
    text-align: center;
    min-height: 10px;
}

.footer {
    border-radius: 0px 0px 7.5px 7.5px;
    background-color: #711;
    padding: 5px;
    min-height: 10px;
    text-align: center;
}


.div_table {
    display: table;
}

div.module div.empty {
    padding: 10px;
    text-align: center;
}

table.data_table {
    width: 100%;
    border-collapse: collapse;
}

table.data_table td{
    text-align: left;
    padding: 0 10px;
}

table.data_table td.image {
    width: 150px;
    padding: 20px;
}

table.data_table td.booking_data {
    padding: 20px;
}


table.data_table td.guest_data {
    padding: 10px;
}

table.data_table td.booking {
    padding: inherit inherit inherit inherit;
}

table.data_table tr:nth-child(even) {
    background: #DDD;
}

table.data_table td {
    text-align: center;
}

th.small_col {
    max-width: 50px;
}
