input {
    box-sizing: border-box;
}

.module {
    border-radius: 0px 0px 25px 25px;
    margin:0;
}

div.master-container {
    padding: 0px;
}

div.content-container {
    margin: 0px;
}

div#subcontainer {
    padding: 20px;
}

div.module_title {
    height: 50px;
    text-align: left;
    padding: 10px 0 0 4.75em;
}

img {
    margin-top: 4px;
}

div#login_container {
    margin: 100px auto;
    width: 28em;
}

.form_input {
}

.form_input label {
    padding: 4px 0px;
    line-height: 2em;
}
.form_input input{
    width: 100%;
    padding: 8px;
}

.login_divider {
    height: 22px;
}

.login_divider input{
    margin: 1px 0;
}