#main_module {
    width: 800px;
    margin: 10px auto;
}

a.guest_name:hover {
    text-decoration: none;
    background: #24c8da;
}

option.compatible {
    background-color: #BBB;
    color: black;
}

option.not_compatible {
    background-color: #FBB;
    color: #DDD;
}