table.data_table td{
    text-align: left;
    padding: 10px 5px;
}

#booking_module {
    width: 600px;
}

#guest_module {
    width: 350px;
}

.subcontainer {
    width: 1000px;
    height: 100%;
    margin: 0px auto;
}