#main_mod {
    width: 800px;
    margin: 0px auto;
}

#update_mod {
    width: 25%;
}

#update_subdiv {
    padding: 20px;
}

#update_subdiv input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.update_item td{
    height: 30px;
    padding: 20px;
}

div.btn {
    font-size: 15px;
    text-align: center;
    padding: 10px 10px;
    border-width: 5px;
    border-color: black;
    border-radius: 7.5px;
    width: 50px;
}

div.inactive_btn {
    margin: 10px;
    box-shadow: 0px 2px 10px #333;
    background: #04a8ba;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
a div.inactive_btn {
    color: white;
}

div.inactive_btn:hover {
    color:  #24c8da;
    background: #FFF;
}

div.active_btn {
    color:  #24c8da;
    box-shadow: none;
    background-color: #FFF;
    margin: 12px 8px 8px 12px;
}

.field_label_span {
    font-weight: bold;
}

div.field {
    display: table-row;
    padding-bottom: 10px;
}

.field_label_div, .value {
    display: table-cell;
    padding-bottom: inherit;
    width: 90px;
}

.field_label_div {
    padding-right: 5px;
}


.guest_image {
    background-color: #444;
    width: 150px;
    height: 150px;
    margin: 0px auto;
}


div.no_space {
    padding-bottom: 0;
}

div.room {
    padding-top: 10px;
}

div.room .field_label_span {
    padding-right: 10px;
}

div.no_room {
    background: red;
    text-weight: bold;
    border-radius: 10.5px;
    padding: 5px;
}

div.no_room a {
    color: white;
    background: none;
}

div.no_room a:hover {
    background: none;
    color: black;
}

.form_input label {
    padding: 4px 0px;
    line-height: 2em;
}
